@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */

.quizContainer {
    width: 60%;
    height: 500px;
    padding: 20px;
    background-color: grey;
    margin-top: 2%;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    border-radius: 10px;
}
.titleHead {
    text-align: center;
    margin-top: 2%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#scoreBtn {
    float: right;
}
#timerLocation {
    float: left;
}
#questionSpot {
    clear: both;
    padding-top: 50px;
}
.buttonStyle {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    
}
.progressSpot {
    clear: both;
    margin-top: 160px;
}
.startButton {
    border-radius: 20px;
    width: 100px;
    height: 30px;
}
.nextButton {
    border-radius: 20px;
    width: 100px;
    height: 30px;
}
.startSpot {
    margin-left: 45%;
}
